@import "reset.css"; /* Reset.css 브라우저의 기본적인 Margin, Padding 등 설정 값을 초기화 */
@import "variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/icon-row.css";
@import "./components/alt-screen-header.css";

/* Screens */
@import "./screens/index.css";
@import "./screens/friends.css";
@import "./screens/chats.css";
@import "./screens/find.css";
@import "./screens/more.css";
@import "./screens/settings.css";
@import "./screens/chat.css";

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
#no-mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: red;
  z-index: 100;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

@media screen and (max-width: 550px) and (orientation: portrait) {
  #no-mobile {
    display: none;
  }
}
