.nav {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid var(--blue);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__button:nth-child(2) {
  position: relative;
}
.nav__notification {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--blue);
  color: white;
  right: -6px;
  top: -2px;
}
