.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}
.header__title {
  font-size: 32px;
  font-weight: 600;
}
.header__icons span {
  margin-left: 20px;
}

.header__icons .fa-gear:hover {
  animation: rotateGear 1s linear infinite;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
